.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #1976d2;
    border-radius: 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #1976d2;
    border-radius: 4px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #1976d2;
    background-color: #1976d2;
}

.page-wrapper {
    width: calc(100% - 110px);
    height: inherit;
}

.mini-sidebar .footer, .mini-sidebar .page-wrapper {
    width: calc(100% - 35px);
}

.w-4 {
    width: 100px;
}

.w-5 {
    width: 155px;
}

.w-6 {
    width: 200px;
}

.w-7 {
    width: 250px;
}

.w-8 {
    width: 300px;
}

.w-9 {
    width: 450px;
}

.w-10 {
    width: 500px;
}

@media only screen and (min-width: 576px) {
    .w-sm-6 {
        width: 200px;
    }

    .w-sm-7 {
        width: 250px;
    }

    .w-sm-8 {
        width: 300px;
    }

    .w-sm-9 {
        width: 450px;
    }

    .w-sm-10 {
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {
    .mini-sidebar .footer, .mini-sidebar .page-wrapper {
        width: 100%;
    }

    .w-md-8 {
        width: 300px;
    }
}

@media only screen and (min-width: 992px) {

    .w-lg-6 {
        width: 200px;
    }

    .w-lg-7 {
        width: 250px;
    }

    .w-lg-8 {
        width: 300px;
    }

    .w-lg-9 {
        width: 450px;
    }

    .w-lg-10 {
        width: 500px;
    }
}

.divider {
    border-bottom: 1px solid #e9ecef;
}

/* default */

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

body, form, iframe {
    height: inherit;
    width: inherit;
}

iframe {
    overflow: hidden;
}

form {
    overflow: hidden;
}

input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"] {
    /*width: 155px;*/
}

.w-max-content {
    width: max-content;
}

.w-number {
    text-align: right;
    width: 155px !important;
}

/* custom */

.form-group {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

table {
    border: none;
}

table thead th {
    color: #495057 !important;
    background-color: #e9ecef !important;
    /*border-color: #dee2e6 !important;
    border-style: solid !important;
    border-top-width: 1px !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-bottom-width: 2px !important;*/
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.btn-sidebar {
    z-index: 998;
    background-color: transparent;
    color: rgb(119, 117, 152);
    border: 0;
}

    .btn-sidebar:hover {
        background-color: #ddd;
    }

/*div[contenteditable="true"] {
    border: 1px solid #eee;
}*/

    /*div[contenteditable="true"]:focus {*/
        /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
        /*color: #000;
        background-color: #fff;
    }*/

div[contenteditable="false"] {
    /*background-color: rgba(215, 215, 219, 0.2);*/
    background-color: transparent;
    cursor: default;
    /*border: 1px solid #f2f2f4;*/
    border: none;
}

.amend-box {
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    transition: all .15s ease-in-out, box-shadow .15s ease-in-out;
}

#AmendReasonPlaceHolder, #MessagePlaceHolder {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.arrowhead {
    background-image: url('chrome://global/skin/icons/arrow-dropdown-12.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: none;
    border-radius: 2px;
}

    .arrowhead:hover {
        background-color: rgba(12, 12, 13, 0.1);
    }

    .arrowhead.collapsed {
        background-image: url("chrome://global/skin/icons/arrow-up-12.svg");
    }

.card {
    border: 1px solid #d7d7db;
    margin: 12px;
    border-radius: 4px;
}

    .card .card-header {
        border-radius: 4px 4px 0 0;
        background-color: rgba(215, 215, 219, 0.2);
        display: flex;
    }

        .card .card-header h4 {
            color: #0c0c0d;
            flex-grow: 1;
            margin-bottom: 0;
        }


#amendReasonBox {
    top: 0;
    z-index: 1000;
    position: sticky;
}

.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left: 15px;
}

    .icon-badge-group .icon-badge-container:first-child {
        margin-left: 0;
    }

.icon-badge-container {
    position: relative;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    position: absolute; /* changed */
    top: 5px; /* changed */
    left: 20px; /* changed */
}

/*.tb-responsive {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

@media screen and (max-width: 600px) {
    .tb-responsive {
        border: 0;
    }


        .tb-responsive > thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

            .tb-responsive > thead > tr {
                display: block;
                border: 1px solid #ddd;
                margin-bottom: .625em;
            }

                .tb-responsive > thead > tr > th {
                    padding: 12px !important;
                }

        .tb-responsive > tbody > tr {
            border: 1px solid #ddd;
        }

            .tb-responsive > tbody > tr > td {
                padding: 4px;
                display: block;
                text-align: right;
            }

                .tb-responsive > tbody > tr > td::before {
                    
                    content: attr(data-label);
                    float: left;
                }

                .tb-responsive > tbody > tr > td:last-child {
                    border-bottom: 0;
                }
}*/
